{% if site.thetheme.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.thetheme.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.email_address %}
<li class="rightButton">
	<a href="mailto:{{ site.thetheme.email_address }}" title="{{ site.thetheme.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.behance %}
<li>
	<a href="httpsite.thethemeww.behance.net/{{ site.thetheme.behance }}" title="{{ site.thetheme.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.thetheme.bitbucket }}" title="{{ site.thetheme.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.thetheme.dribbble }}" title="{{ site.thetheme.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.thetheme.facebook }}" title="{{ site.thetheme.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.thetheme.flickr }}" title="{{ site.thetheme.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.github %}
<li>
	<a href="https://github.com/{{ site.thetheme.github }}" title="{{ site.thetheme.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.thetheme.google_plus }}" title="{{ site.thetheme.str_follow_on }} Google+">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.instagram %}
<li>
	<a href="http://instagram.com/{{ site.thetheme.instagram }}" title="{{ site.thetheme.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.linkedin %}
<li>
	<a href="{{ site.thetheme.linkedin }}" title="{{ site.thetheme.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.thetheme.pinterest }}" title="{{ site.thetheme.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.thetheme.reddit }}" title="{{ site.thetheme.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.thetheme.soundcloud }}" title="{{ site.thetheme.str_follow_on }} SoundCloud">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.stack_exchange %}
<li>
	<a href="{{ site.thetheme.stack_exchange }}" title="{{ site.thetheme.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.thetheme.steam }}" title="{{ site.thetheme.str_follow_on }} Steam">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.tumblr %}
<li>
	<a href="http://{{ site.thetheme.tumblr }}.tumblr.com/" title="{{ site.thetheme.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.twitter %}
<li>
	<a href="https://twitter.com/{{ site.thetheme.twitter }}" title="{{ site.thetheme.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.wordpress %}
<li>
	<a href="https://{{ site.thetheme.wordpress }}.wordpress.com/" title="{{ site.thetheme.str_follow_on }} WordPress">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}

{% if site.thetheme.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.thetheme.youtube }}" title="{{ site.thetheme.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
