
.site-header {
  padding: $padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 12px;
  margin-bottom: -11px;
  @media screen and (max-width: 670px) {
    padding-bottom: 0;
  }

  .avatar {
    height: 2em;
    width: 9em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-left: 1em;
    @media screen and (max-width: 670px) {
      width: 133px;
      height: 30px;
    }
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 28px!important;
    line-height: 1.5;
    a {
      color: #fff;
      font-size: 34px;
    }
  }

  .site-nav {.
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -ms-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
    button {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
      padding-top: 11px;
    }
    .rightButton {
      margin-left: 100px;
    }
    li {
      display: inline;
      float: left;
      margin-right: 3em;
      a {
        color: $header-link-color;
        font-weight: 900;
        letter-spacing: 0.1em;
        color: #808080;
      }
      @media screen and (max-width: 670px) {
        padding-bottom: 0;
        width: 100px!important;
      }
    }
  }
  .mobile {
    height: 40px;
    width: 100px;
    float: right;
    ul {
      display: none;
    }
    button {
      height: 30px;
      display: inline;
      opacity: 0.8;
      border: 3px solid #fff;
      
      padding: 7px;
      
      width: 80px;
      font-size: 16px;
      font-family: $font-family-headings;
      font-weight: 900;
      padding-top: 1px;
      margin-top: 6px;
      &:hover {
        background-color: #999;
        color: #fff;
      }
    }
  }
  .openMenu {
    margin: 0 auto;
    padding: 0;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
    height: 60px;
    width: 100%;
    
    ul {
      margin: 0 auto;
      padding: 0;
      display: inline-block;
      width: 100%;
      text-align: center;
      li {
        margin: 0 auto;
        padding: 0;
        width: 25%;
        text-decoration: none;
        list-style: none;
        padding: 10px;
        text-align: center;
      }
    }
    ul li.rightButton {
      margin: 0 auto;
      padding: 0;
      padding: 10px;
      text-align: center;
    }
    button {
      float: right;
      margin-top: -36px;
      margin-right: 20px;
    }
  }
}